/* Media */

@media (max-width: 1199px) {
  .default, .about, .services, .portfolio, 
  .twitter, .testimonials, .contact{
    padding-top: 40px;
  }
  .about, .services, .portfolio, 
  .twitter, .testimonials, .contact{
    padding-bottom: 40px;
  }

/* Header HERO */
/* Services*/
/* PORTFOLIO */
  .portfolio__img-wrap {
  flex-wrap: wrap;
  justify-content: space-around;
  }
  .portfolio__img-hidden {
    display: none;
  }
/* Default Section */
  .default {
    padding-bottom: 100px;
  }
  .default__wrap {
    flex-direction: column;
    position: relative;
  }
  .default__video {
    margin: auto;
  }
  .default__btn {
    display: flex;
    width: 145px;
    height: 57px;
    margin: 0 auto;
    position: absolute;
    bottom: -75px;
    left: 50%;
    margin-left: -74.5px;
  }
  .default__text {
    margin: 0 auto 35px auto;
    width: 90%;
  }
/* SECTION TWITTER */
.twitter__text-small {
  font-size: 2.4rem;
  width: 75%;
  margin: auto;
}
/* SECTION About */
.about__text_icon:last-child {
  margin-right: 0;
}
/* SECTION Testimonials */
.testimonials__text {
  font-size: 2.4rem;
}
/*  SECTION Contact */
/*  FOOTER */  
}

@media (max-width: 1024px) {
 .services__block-text {
  margin-right: 10px;
 }
 .footer__item, .footer__copy {
  font-size: 1.8rem;
 }
}


@media (max-width: 992px) {
  .container {
  max-width: 962px;
  }
/* Header HERO */
.menu__item {
  font-size: 1.2rem;
}
/* Services*/
.services__block-text {
  font-size: 1.1rem;
  margin-right: 25px;
}
/* PORTFOLIO */
 .portfolio__item {
  font-size: 1.2rem;
  margin-left: 20px;
 }
 .portfolio__img-wrap {

  justify-content: space-around;
 }
 .portfolio__img {
    margin-right: 0;
  }
/* Default Section */
/* SECTION TWITTER */
.twitter__text-small {
  line-height: 32px;
}
/* SECTION About */
.about__wrap {
  flex-direction: column;
}
.about__text {
  margin-bottom: 15px;
}
.about__text_icon-wrap {
  justify-content: center;
}
/* SECTION Testimonials */
.testimonials__text {
  line-height: 32px;
}
/*  SECTION Contact */
.contact__input {
  display: block;
  margin-bottom: 0;
}
.contact__text {
  margin-bottom: 20px;
}
.contact__top {
  flex-direction: column;
}
.contact__btn {
  margin: auto;
  display: block;
}
/*  FOOTER */   
  .footer__item, .footer__copy {
    font-size: 1.6rem;
  }
}




@media (max-width: 768px) {
  .container {
    max-width: 748px; 
  }

  .snippet__tittle {
    margin-bottom: 30px;
  }
/* Header HERO */

.menu {
  display: none;
}

.m-menu {
  z-index: 3;
}

.m-menu-link {
  display: block;
  z-index: 2;
}

.logo-m {
  position: absolute;
  top: 15%;
  left: 3%;
}


.bg, .header-wrap {
  height: 80px;
}
/* Services*/
.services__block {
  display: flex;
  width: 75%;
  flex-direction: column;
  margin: auto;
  &-item img {
    display: flex;
    margin: auto;
    margin-bottom: 10px;
  }
  &-tittle {
    text-align: center;
  }
  &-text {
    margin-bottom: 20px;
  }
}
/* PORTFOLIO */
.portfolio-wrap {
  flex-direction: column;
}
.portfolio__menu {
  margin-top: 30px;
  margin-bottom: -40px;
  }
.portfolio__item {
    font-size: 1.2rem;
    margin-left: 10px;
  }
  .portfolio-wrap__img {
    display: flex;
    justify-content: space-between;

  }
/* Default Section */
.default__video-frame {
  width: 450px;
  height: 313px;
}
/* SECTION TWITTER */
/* SECTION About */
/* SECTION Testimonials */
/*  SECTION Contact */
.contact__input {
  margin: 0;
  width: 450px;
}
/*  FOOTER */   
}



@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
/* Header HERO */

.hero__quote{
  font-size: 3rem;
  line-height: 30px;
}
/* Services*/
/* PORTFOLIO */

.portfolio__item {
  font-size: 0.8rem;
  margin-left: 0;
  padding: 5px 10px;
}
  .portfolio-wrap__img {
    flex-direction: column;
  }
/* Default Section */
.default__video-frame {
  width: 290px;
}
.default__video-frame, .default__video {
  height: 200px;
}
/* SECTION TWITTER */
.twitter__text-small {
  font-size: 1.5rem;
}
/* SECTION About */
/* SECTION Testimonials */
/*  SECTION Contact */
.contact__input {
  margin: 0;
  width: 300px;
}
.contact__btn {
  width: 280px;
  padding: 20px 0;
}
/*  FOOTER */   
.footer {
    padding: 30px 0;
  }
  .footer__item, .footer__copy {
    font-size: 1.5rem;
    margin-right: 10px;
    &:before {
      right: calc(-3px - 4px);
    }
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 300px;
    padding: 0 10px;
  }
  .snippet__tittle {
    font-size: 2.5rem;
  }
/* Header HERO */
header {
  min-height: 600px
}
.hero {
  padding-top: 200px;
}
.hero__quote{
  line-height: 24px;
  font-size: 2.4rem;
}
/* Services*/
/* PORTFOLIO */
/* Default Section */
/* SECTION TWITTER */
/* SECTION About */
.about__text_icon {
  margin-right: 10px;
}
/* SECTION Testimonials */
/*  SECTION Contact */
.contact__input{
  width: 280px;
}
/*  FOOTER */  
.contact__text-none {
  display: none;
}
.footer__item, .footer__copy {
    font-size: 1.3rem;  
  }
}





