/* Portfolio */

.portfolio {
	padding: 80px 0;
	background-color: $text-color;
	&-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 80px;
	}
	&__menu {
		display: flex;
		align-items: center;
	}
	&__item {
		padding: 10px 17px;
		border: 2px solid transparent;
		margin-left: 30px;
		color: $text-dark;
		font-family: 'Segoe UI Bold';
		font-weight: bold;
		text-transform: uppercase;
		transition: all 300ms ease-in-out;
		line-height: 1;
		&:hover {
			color: $text-hover;
			border-color: $text-hover;
		}
	}
	&__active {
		color: $text-hover;
		border: 2px solid $text-hover;
	}
	&__img {
		display: flex;
		justify-content: space-between;
		cursor: pointer;
		width: 270px;
		height: 270px;
		margin: 0 30px 30px 0;
		&:last-child {
			margin-right: 0;
		}
		&:before {
			content: '+';
			width: 270px;
			height: 270px;
			position: absolute;
			opacity: 0;
			font-family: 'Segoe UI Light';
			font-weight: 300;
			font-size: 72px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: rgba(73, 82, 89, 0.9);
			color: $text-color;
			transition: all 0.3s ease-in-out;
		}
		&:hover:before {
			opacity: 1;
		}
		&-wrap {
			display: flex;
			justify-content: space-between;
		}
	}
}


